.stickyTopNav {
    position: fixed;
    top: 0;
    width: 80%;
}
.stickyNav {
    position: fixed;
    bottom: 0;
    width: 80%;
}

.stickySelect {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 10%;

}